# Basic Statisctics 1
<hr>

## What is Statistics?

Statistic could be described as methodology for collecting, analyzing, interpreting, and drawing conclusion from data.  
Furthermore, Statistics is the art and science of designing studies and analyzing the data that those studies produce. Its ultimate goal is translating data into knowledge and understanding of the world around us. In short, statistics is the art and science of learning from data

## ``Topic:``

#### 1. **Descriptive Analysis** 
#### 2. **Distribution**
#### 3. **Correlation**
##### 4. **Hypothesis Testing**


<hr>

## Descriptive Statistics

From Wikipedia:
> A descriptive statistic (in the count noun sense) is a summary statistic that **quantitatively describes** or summarizes features from a collection of information,while descriptive statistics (in the mass noun sense) is the process of using and analysing those statistics.

In [1]:
import pandas as pd
import numpy as np
import statistics as st

In [2]:
df=pd.read_csv('Salaries.csv')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
#.describe for descriptive statistics summary in Pandas
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [5]:
#or with methods
df.count()

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148045
OvertimePay         148650
OtherPay            148650
Benefits            112491
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status                   0
dtype: int64

In [6]:
df.min()

Id                                 1
EmployeeName        A BERNARD FATOOH
JobTitle               ACCOUNT CLERK
BasePay                      -166.01
OvertimePay                    -0.01
OtherPay                    -7058.59
Benefits                      -33.89
TotalPay                     -618.13
TotalPayBenefits             -618.13
Year                            2011
Notes                           None
Agency                 San Francisco
Status                          None
dtype: object

## There are 2 types of descriptive statistics:

### 1. Central tendencies
It is the way of describing the central position of a frequency distribution for a group of data. We can describe it by using, for example Mean, Median, Mode.

This measurement assume that the sample measurement is corresponding to the population measures of center, which are unknown. The sample measurement can be used to estimate this unknown parameter.

### **a. Mean**
Mean is the arithmetic average of the data it operates on.   
``Digunakan untuk data terdistribusi normal dan tidak ada outliers.``
``Seluruh data dijumlahkan, kemudian dibagi dengan jumlah data.``

In [13]:
df['BasePay'].mean()

66325.44884050643

In [15]:
data = [1,2,3,5,7,9]
st.mean(data)

4.5

### **b. Median**
For data of odd length, the median the middle item; for that of even length, it is the average of the two middle items. ``Digunakan untuk data yang kurang/tidak berdistribusi normal atau ada data outliers (data yang terlalu menyimpang/ekstrim). Cara menghitung: data diurutkan, kemudian diambil titik tengahnya (50% dari urutan)``

In [17]:
df['BasePay'].median()

65007.45

In [9]:
st.mean([1,2,3,4,5,6,7,8,9,10,1000]) #kalau ditambah data pencilan, nilai mean berubah jaduh (5.5--> 95.9)

95.9090909090909

In [10]:
st.median([1,2,3,4,5,6,7,8,9,10,1000]) # Nilai median tidak berubah jauh ketika ditambahkan dengan data ekstrim

6

### **c. Mode**
The most common value in a set of data. This gives us a great idea of where the center lies. ``Lebih sering dipakai dalam konteks data categorical``.

In [20]:
df.JobTitle.mode()

0    Transit Operator
dtype: object

In [19]:
data1 = [1,2,3,5,7,9,7,2,7,6]
st.mode(data1)

7

### 2. Spread
To characterizes how apart the members of the distribution are from the center and from each other. Two dataset of the same variable may possess similar position of center but remarkably different with respect to variability.  
We can describe it by using, for example Range, Quartile, Variance, and Standard Deviation

### **a. Variance**

Variance measures how far each number in the set is from the mean and, therefore, from every other number in the set. You can use this when your data is a sample out of a population

In [11]:
df['BasePay'].var()

1828814049.0424156

In [12]:
st.variance([1,2,3,5,7,9,7,2,7,6])

7.433333333333334

In [14]:
st.variance([1,9,12,10,20,2,14,11])

38.125

In [15]:
st.variance([1,2,3,5,4,9,8,2,7,6])

7.566666666666666

### **b. Standar deviation**

Standard deviation is the most frequently used measure of variability. It can be considered as a kind of average of the absolute deviations of observed values from the mean of the variable in question

var= (x(i)-X(rata2))^2/n-1 ---> unit^2, sementara unit data kita tidak memiliki pangkat

stdev= variance^1/2--> unit kembali ke pangkat awal, bisa dibandingkan dengan data yang berpangkat sama

In [17]:
df['BasePay'].std()

42764.63549525958

In [18]:
st.stdev([1,2,3,5,7,9,7,2,7,6])

2.7264140062238043

In [19]:
st.stdev([1,2,3,5,4,9,8,2,7,6])

2.7507574714370344

## **Take Class Exercise**: Analyze Salaries Dataset

### ``Show your code and answer this questions!``
### Open Salaries.csv dan Create DataFrame

#### 1. Berapa nilai tengah ``BasePay`` di tahun ``2013``?
#### 2. Berapa rata-rata ``OtherPay`` di tahun ``2014``?
#### 3. Berapa rata-rata ``Benefits`` pada karyawan  di tahun 2014  yang ``TotalPay``-nya di atas rata-rata karyawan?
#### 4. Berapa nilai standart deviasi ``TotalPay`` pada karyawan ``Transit Operator``?
#### 5. Siapa 5 orang yang berprofesi ``Special Nurse`` dan ``BasePay``-nya di atas rata-rata?
#### 6. Sebutkan 5 profesi (``JobTitle``) dengan gaji tertinggi (``TotalPay``)?
#### 7. Berapa nilai variance ``BasePay`` karyawan ``Public Svc Aide-Public Works`` di tahun 2014?
#### 8. Siapa 5 orang yang berprofesi ``Police Officer 3`` dengan ``TotalPay`` terendah?
#### 9. Berapa standart deviasi ``BasePay`` karyawan ``Registered Nurse`` di tahun 2012 yang ``Benefits``-nya di atas rata-rata?
#### 10. Profesi apa yang paling banyak muncul (mode) dengan nilai ``BasePay`` dan ``Benefits``-nya di atas rata-rata?

In [23]:
df.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

In [26]:
#Berapa nilai tengah BasePay di tahun 2013?
df[df['Year']==2013]['BasePay'].median()

67669.0

In [29]:
#  Berapa rata-rata OtherPay di tahun 2014
df.groupby('Year').mean()['OtherPay'][2014]

3505.4212505574583

In [30]:
df[df['Year']==2014]['OtherPay'].mean()

3505.4212505574583

In [32]:
# Berapa rata-rata Benefits pada karyawan  di tahun 2014  yang TotalPay-nya di atas rata-rata karyawan?
df[(df['Year']==2014)&(df['TotalPay']>df['TotalPay'].mean())]['Benefits'].mean()

36934.831982886106

In [34]:
# Berapa nilai standart deviasi TotalPay pada karyawan Transit Operator?
df[df['JobTitle']=='Transit Operator']['TotalPay'].std()

30035.2498993624

In [45]:
# Siapa 5 orang yang berprofesi Special Nurse dan BasePay-nya di atas rata-rata?
df[(df['JobTitle']=='Special Nurse') & (df['BasePay']>df.BasePay.mean())][['EmployeeName','BasePay']].head()

            EmployeeName    BasePay
39881  Christian Kitchin  133932.19
41793       Laurie Towns  135691.93
42130        Leah Custis  127700.35
42394      Jennifer Chiu  124073.96
42535    Genevieve Hamer  128163.62

In [48]:
# Sebutkan 5 profesi (JobTitle) dengan gaji tertinggi (TotalPay)
df.loc[:, ['TotalPay', 'JobTitle']].sort_values('TotalPay', ascending = False).head(5).loc[:, 'JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
110531                                    Deputy Chief 3
110532                                 Asst Med Examiner
36159                       Lieutenant, Fire Suppression
Name: JobTitle, dtype: object

In [53]:
df.sort_values('TotalPay',ascending=False).head()['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
110531                                    Deputy Chief 3
110532                                 Asst Med Examiner
36159                       Lieutenant, Fire Suppression
Name: JobTitle, dtype: object

In [54]:
# Sebutkan 5 profesi (JobTitle) dengan rata-rata gaji tertinggi (TotalPay)?
df.groupby('JobTitle')[['JobTitle','TotalPay']].mean().sort_values('TotalPay', ascending=False).head()

                                                     TotalPay
JobTitle
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  399211.275000
Chief Investment Officer                        339653.700000
Chief of Police                                 329183.646667
Chief, Fire Department                          325971.683333
DEPUTY DIRECTOR OF INVESTMENTS                  307899.460000

In [65]:
# Berapa nilai variance BasePay karyawan Public Svc Aide-Public Works di tahun 2014?
df[(df['JobTitle']=='Public Svc Aide-Public Works') & (df['Year']==2014)].var()['BasePay']

45111291.10909396

In [66]:
np.random.randint(1,17)

5

In [69]:
# Siapa 5 orang yang berprofesi Police Officer 3 dengan TotalPay terendah?
df[df['JobTitle']=='Police Officer 3'].sort_values('TotalPay', ascending=True).head()[['EmployeeName', 'TotalPay']]

            EmployeeName  TotalPay
110530     David P Kucia      0.00
110529    Mark E Laherty      0.00
110528  Timothy E Gibson      0.00
106766      Lisa M Curry      0.00
72907       William Pyne     30.78

In [70]:
df[(df['JobTitle']=='Police Officer 3') & (df['TotalPay']>0)].sort_values('TotalPay', ascending=True).head()[['EmployeeName', 'TotalPay']]

            EmployeeName  TotalPay
72907       William Pyne     30.78
72895     Anthony Nelson     38.11
72867    Richard Sheehan     60.09
72864        Robert Wood     63.02
72855  Richard Vanwinkle     67.42

In [74]:
# Berapa standart deviasi BasePay karyawan Registered Nurse di tahun 2012 yang Benefits-nya di atas rata-rata?
df[(df['JobTitle']=='Registered Nurse')&(df['Year']==2012)& (df['Benefits']>df['Benefits'].mean())].std()['BasePay']

17852.797744061118

In [75]:
# Profesi apa yang paling banyak muncul (mode) dengan nilai BasePay dan Benefits-nya di atas rata-rata?
df.loc[(df.BasePay > df.BasePay.mean()) & (df.Benefits > df.Benefits.mean())].describe(include='O').loc[:, 'JobTitle'].loc['top']

'Registered Nurse'

In [78]:
df.loc[(df.BasePay > df.BasePay.mean()) & (df.Benefits > df.Benefits.mean())].describe(include=object)['JobTitle']['top']

'Registered Nurse'

In [81]:
df.describe(include='object')

       EmployeeName          JobTitle         Agency
count        148654            148654         148654
unique       110811              2159              1
top       Kevin Lee  Transit Operator  San Francisco
freq             13              7036         148654

In [79]:
df[(df['BasePay'] > df['BasePay'].mean()) & (df['Benefits'] > df['Benefits'].mean())]['JobTitle'].mode()

0    Registered Nurse
dtype: object

# Take Home Exercise
# Buat Fungsi untuk mencari Mean, Median dan Modus, tanpa import library

### **Reference**:
- George Seif, "The 5 Basic Statistics Concepts Data Scientists Need to Know", https://towardsdatascience.com/the-5-basic-statistics-concepts-data-scientists-need-to-know-2c96740377ae
- Diogo Menezes Borges, "Introduction to Statistics for Data Science", https://www.kdnuggets.com/2018/12/introduction-statistics-data-science.html
-  DataFlair Team, "Python Descriptive Statistics – Measuring Central Tendency & Variability", https://data-flair.training/blogs/python-descriptive-statistics/
- Gaël Varoquaux, "3.1. Statistics in Python", https://scipy-lectures.org/packages/statistics/index.html
- Mirko Stojiljković , "Python Statistics Fundamentals: How to Describe Your Data", https://realpython.com/python-statistics/
- Karlijn Willems, "40+ Python Statistics For Data Science Resources", https://www.datacamp.com/community/tutorials/python-statistics-data-science
- https://www.investopedia.com/terms/v/variance.asp